* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    background-color: #222;
    height: 50px;
    display: flex;
    align-items: center;
    position: fixed;
}
nav {
    display: flex;
}
header nav img {
    width: 27px;
    margin-left: 20px;
}
header nav #logo {
    display: flex;
}
header nav #logo h2 {
    color: #fff;
}
header nav #search {
    margin-left: 200px;
}
header nav #search input {
    width: 500px;
    height:25px;
}
header nav button {
    width: 50px;
    height: 30px;
    background-color: #000;
    border: none;
    position: relative;
    top: 3px;
}
header nav button #img-search{
    width: 20px;
    margin-left: 0;
}
#upload ul {
    display: flex;
    list-style: none;

}
#upload img{
    background-color: #fff;
}
#upload #profile{
    border-radius: 50%;
}
section {
    padding-top: 50px;
    background-color: #292828;
    display: flex;
}
section #video {
    margin: 30px;
}
section #side-bar {
    margin-top: 30px;
}
section #side-bar .side-video {
    display: flex;
    margin: 10px;
}
section #side-bar .side-video h4 {
    color: #fff;
    margin-left: 20px;
    margin-top: 40px;
}

